<div class="container-fluid" fxLayout="column" fxLayoutGap="10px" style="margin:20px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <form>
        <label style="font-family: 'Caveat', cursive;color: red">Search</label>
        <input type="text" name="Dish search" [(ngModel)]="items">
      </form>
      <hr>
    </div>
    {{err}}
  </div>

  <div fxFlex="80" *ngIf="dishes" [@expand]>
    <md-grid-list cols="2" rowHeight="200px">
      <!-- <md-grid-tile *ngFor="let dish of dishes"(click) = "onSelect(dish)"> -->
      <md-grid-tile *ngFor="let dish of dishes | search:items" [routerLink]="['/dishdetail', dish.id]" appHighlight>
        <img height="200px" src="{{dish.image}}" alt={{dish.name}} >

        <md-grid-tile-footer>
          <h1 md-line>{{dish.name | uppercase}}</h1>
          <!-- <h1 md-line>{{dish.name | search : dish.name}}</h1> -->

        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>



  <div [hidden]="dishes || errMess">
    <md-spinner></md-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
  <!-- <app-dishdetail [dish]="selectedDish"></app-dishdetail> -->
</div>