<div class="container-fluid" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="20px" fxLayoutGap.xs="10" style="background-image: url(../assets/images/bg1.jpg);background-size: cover">


  <div fxFlex="40" *ngIf="dish" >
    <md-card >
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{dish.image}}" alt={{dish.name}} >
      <md-card-content>
        <p>{{dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </md-card-actions>
    </md-card>
  </div>


  <div fxFlex="40" *ngIf="dish" >

    <div style="background-color:#e8e8e8cc; padding: 20px; margin-top: 100px;margin-bottom: 10px">

      <h2>Comments</h2>
      <br>

      <div *ngFor="let com of dish.comments">

        <h4>{{com.comment}}</h4>

        <p> {{com.rating}} Stars </p>

        <p>--{{com.author}},{{com.date |date}} </p>

        <br>

      </div>






      <md-list-item *ngIf="!isError">

        <p md-line>{{comment}}</p>

        <p md-line> {{value}} Stars </p>

        <p md-line>--{{author}},{{date |date}} </p>

      </md-list-item>






      <form novalidate [formGroup]="feedbackForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
        <p>
          <md-input-container class="half-width" dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
            <input mdInput [(ngModel)]="author" formControlName="author" placeholder="Name" type="text" required>
            <md-hint>
              <span [hidden]="!(formErrors.author)">
                {{formErrors.author}}</span>
            </md-hint>
          </md-input-container>

        </p>

        <p>
          <md-slider formControlName="rating" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel" [tick-interval]="tickInterval"
            [(ngModel)]="value" [vertical]="vertical">
          </md-slider>
        </p>
        <p>
          <md-input-container class="full-width" dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}">
            <textarea mdInput [(ngModel)]="comment" formControlName="comment" placeholder="Comment" rows=12 required></textarea>
            <md-hint>
              <span [hidden]="!(formErrors.comment)">
                {{formErrors.comment}}</span>
            </md-hint>
          </md-input-container>

        </p>
        <button type="submit" [disabled]="feedbackForm.invalid" md-button style="background-color: rgb(188, 165, 252); ">Submit</button>
      </form>
   </div>

  </div>

  <div [hidden]="dish || errMess">
    <md-spinner></md-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>


</div>